body{
    background-color: #252529;
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
    height: 100%;
}

nav{
    margin-top: 20px;
    color: white;
    font-size: 1rem;
    margin-left: 15px;
}


ul,li{
    display: inline;
    margin: 0;
    padding: 20px;
}

nav ul li:hover{
    background-color: #333;
    transition: ease-in-out 500ms;
}

a{
    color: white;
    text-decoration: none;
}

.cn{
    margin-top: 10px;
    padding: 0;
    background-image: url("file:///C:/Users/Raphael%20Blaize/Pictures/showcase%20(2).jpeg");
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}


.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;

}

.header-content h1{
    font-weight: bold;
    font-size: 4rem;
}

.header-content p:nth-of-type(1){
    font-size: 2rem;
    font-weight: 800;
    position: relative;
    top: -30px;
}
.header-content p:nth-of-type(2){
    font-size: 1.2rem;
    margin: 190px;
    text-align: center;
    position: relative;
    top: -220px;
    line-height: 1.3;
}


.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.music-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fas{
    margin-right: 15px;
    font-size: 2.5rem;
}

.container-fluid h2{
    font-size: 2.5rem;
    position: relative;
    top: 20px;
}

.music-content h3{
    font-size: 2rem;
}


.music-content p:nth-of-type(1){
    text-align: center;
    font-size: 1.3rem;
    margin:150px;
    position: relative;
    top: -130px;
}

.music-content button{
    border:none;
    background-color:#b90415;
    color: white;
    border-color: none;
    padding: 20px;
    font-size: 1rem;
    position: relative;
    top: -240px;
    transition: ease-out 0.3s;
}

.music-content button:hover{
    background-color:#d3071b;
    cursor: pointer;
}


.music-content p:nth-of-type(2){
    position: relative;
    top: -210px;
}

.container-fluid img{
    position: relative;
    top: -200px;
    margin-bottom: -150px;
}

.container-movie{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:white;
    color: black;
    opacity: 0.9;
}

.container-movie h3{
    margin-top: 80px;
    font-size: 2rem;
}

.container-movie p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10em;
    position: relative;
    top: -190px;
    line-height: 1.8;
}

.container-movie button{
    background-color: #103063;
    border: none;
    padding: 20px;
    position: relative;
    top: -360px;
    
}

.container-movie img{
    position: relative;
    top:-360px;
    margin-bottom: -300px;
}

.container-movie button:hover{
    background-color:#143f85;
    cursor: pointer;
    transition: ease-out 3s;
}


.container-ent{
    background-image: url("file:///C:/Users/Raphael%20Blaize/Pictures/section-bg%20(4).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 70vh;
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ent-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ent-content h3{
    font-size: 2rem;
    font-weight: 800;
    position: relative;
    margin-top: 300px;
}

.ent-content p{
    text-align: center;
    font-size: 1.3rem;
    margin:140px;
    position: relative;
    top: -140px;
    line-height: 1.3;
}

.container-gift{
    background-color: white;
    color: black;
    font-family: 'PT Sans', sans-serif;
    opacity: 0.9;
    height: 500px;
}

.container-gift img{
    margin-left: 160px;
    margin-top: 50px;
}

.gift-content p:nth-of-type(1){
    margin-right: 200px;
    margin-right: 200px;
    line-height: 1.6;
}

.gift-content{
    margin-right: 800px;
    transform: translateX(750px) translateY(-390px);
}

.gift-content h4{
    font-size: 1.6rem;
}

.gift-content hr{
    margin-right: 200px;
}

.redeem .fas{
    font-size: 1rem;
}

.redeem{
    margin: 5px;
}

.point:hover{
    cursor: pointer;
    color: #103063;
}

.container{
    padding: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 50px;
    margin-top: 0;

}

.container-c{
    position: relative;
    top: -90px;
    padding: 0;
}

.container h5{
    font-size: 1.2rem;
    font-weight: 500;
}

.container ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 0;
    position: relative;
    transform: translateX(-5px);
    font-weight: 100;
}

.container li{
    margin-top:10px;
    padding:7px;
}

.foot{
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:60px;
}
.foot h5{
    font-weight:400;
    font-size: 1rem;
}

@media(max-width: 3760px){
    .header-content{
        position: relative;
        top: 290px;
    }
}

@media(max-width: 2992px){
    .header-content{
        position: relative;
        top: 120px;
    }
}

@media(max-width: 786px){
    .header-content p:nth-of-type(1){
        font-size:1.02rem;
        
    }

    .container{
        background-position: center center;
    }
}

@media(max-width: 596px){
    .header-content p:nth-of-type(2){
        margin-right: 100px;
        margin-left: 100px;
    }

    .container{
        background-position: center center;
    }
}

@media(max-width: 400px){
    .header-content p:nth-of-type(1){
        font-size:0.9rem;
    }

    .header-content p:nth-of-type(2){
        margin-right: 50px;
        margin-left: 50px;
    }

    .container{
        background-position: center center;
    }
}

@media(max-width: 346px){
    .header-content p:nth-of-type(1){
        margin-left: 50px;
        margin-right: 50px;
        position: relative;
        top: -40px;
    }

    .header-content p:nth-of-type(2){
        margin-right: 50px;
        margin-left: 50px;
    }

    .container{
        background-position: center center;
    }
}

@media(max-width: 344px){
    .header-content p:nth-of-type(2){
        margin-right: 25px;
        margin-left: 25px;
    }

    .container{
        background-position: center center;
    }
}

@media(max-width: 1272px){
    .container-fluid img{
        width: 100%;
    }
}

@media(max-width: 587px){
    .music-content p:nth-of-type(1){
        margin-left: 50px;
        margin-right: 50px;
    }
}


@media(max-width: 400px){
    .music-content p:nth-of-type(1){
        margin-left: 25px;
        margin-right: 25px;
    }
    .music-content p:nth-of-type(2){
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media(max-width: 383px){
    .music-content h3{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1.2rem;
    }
}


@media(max-width: 1184px){
    .container-movie img{
        width: 100%;
    }
}

@media(max-width: 864px){
    .container-movie h3{
        text-align: center;
    }
    
    .container-movie p{
        margin-left: 50px;
        margin-right: 50px;
    }
}


@media(max-width: 511px){
    .container-movie p{
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media(max-width: 814px){
    .ent-content h3{
        font-size: 1.6rem;
        text-align: center;
    }
    .ent-content p{
        margin-right: 4em;
        margin-left: 4em;
    }
}

@media(max-width: 570px){
    .ent-content h3{
        font-size: 1.3rem;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .ent-content p{
        font-size: 1rem;
        margin-right: 0.9em;
        margin-left: 0.9em;
    }
}

@media(max-width: 312px){
    .ent-content p{
        font-size: 0.8rem;
        margin-right: 0.9em;
        margin-left: 0.9em;
    }
}

@media(max-width: 1326px){
    .gift-content p:nth-of-type(1){
        margin-right: 20px;
    }
}

@media(max-width: 1163px){
    .gift-content p:nth-of-type(1){
        margin-right: 10px;
    }
}

@media(max-width: 1094px){
    .container-gift{
        height: 850px;
    }

    .container-gift img{
        width: 700px;
        height: 500px;
        background-position: center center;
    }

    .gift-content{
        transform: translateX(200px);
        margin-right:300px;
    }
}

@media(max-width: 868px){
    .container-gift img{
        width: 580px;
        height: 394px;
        background-position: center center;
    }
}

@media(max-width: 752px){
    .container-gift{
        height: 820px;
    }
}


@media(max-width: 745px){
    .container-gift{
        height: 700px;
    }

    .container-gift img{
        width: 400px;
        height: 300px;
        background-position: center center;
    }
    .gift-content{
        transform: translateX(-0.12px);
        margin-right:100px;
    }
}

@media(max-width: 729px){
    .gift-content{
        transform: translateX(-0.12px);
        margin-right:100px;
    }
}

@media(max-width: 561px){
    .container-gift img{
        width: 400px;
        height: 300px;
        background-position: center center;
        margin-left: 60px;
    }
}

@media(max-width: 561px){
    .container-gift img{
        width: 300px;
        height: 200px;
        background-position: center center;
        margin-left: 60px;
    }
}

@media(max-width: 387px){
    .container-gift img{
        width: 300px;
        height: 200px;
        background-position: center center;
        margin-left: 10px;
    }
}


@media(max-width: 345px){
    .container-gift{
        height: 800px;
    }
}

@media(max-width: 310px){
    .container-gift img{
        width: 250px;
        height: 190px;
        background-position: center center;
        margin-left: 10px;
    }
}

@media(max-width: 300px){
    .container-gift{
        height: 700px;
    }

    .gift-content{
        margin-right:25px;
    }
}

@media(max-width: 997px){
    .container{
        display: none;
    }
}